---
layout: archive
title: " "
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<!-- {% for post in site.teaching reversed %}
{% include archive-single.html %}
{% endfor %} -->

<h1> Teaching Assistant</h1>
  
<p>IE3002 (Microprocessor), 2022-2023 Semester 1</p>
<p>IE2010/2110 (Signal and Systems), 2022-2023 Semester 1 and 2; 2023 - 2024 Semester 1</p>
<p>IE0005 (Introduction to Data Science and Artificial Intelligence), 2022-2023 Semester 2</p>
<p>IE0005 (Introduction to Data Science and Artificial Intelligence), 2022-2023 Semester 2</p>
<p>MAHS25W10 (Advanced Seminar Course: Graph Generative Models), Nov. 2025-Jan. 2026</p>

<h1> Reading Group</h1>
<p> I led the reading group on statistical machine learning in 2023. <a href="https://web.stanford.edu/class/stats214/">Material</a> </p>
